@use 'sass:color';

// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
$fg-color: #{'@theme_fg_color'};
$bg-color: #{'@theme_bg_color'};
$selected-color: color-mix(in srgb, $bg-color 90%, white);
$rounded-full: 100px;
$rounded: 20px;
$gap: 10px;
$border-color: color-mix(in srgb, $fg-color 80%, transparent);

.selected {
  background-color: $selected-color;
  color: $bg-color;
}

.btn-ghost {
  background-color: transparent;
  &:hover {
    background-color: $selected-color;
  }
}

// .circular is an already defined class for many GTK widgets, so we just want to define it here for it to be picked up in intellisense
.circular {
}
.rounded-none {
  border-radius: 0px;
}
.rounded {
  border-radius: $rounded;
}
.rounded-md {
  border-radius: $rounded;
}
.rounded-full {
  border-radius: $rounded-full;
}
.rounded-l {
  border-top-right-radius: $rounded;
  border-bottom-right-radius: $rounded;
}
.rounded-r {
  border-top-left-radius: $rounded;
  border-bottom-left-radius: $rounded;
}
.rounded-t {
  border-top-left-radius: $rounded;
  border-top-right-radius: $rounded;
}
.rounded-b {
  border-bottom-left-radius: $rounded;
  border-bottom-right-radius: $rounded;
}

.border {
  border: 1px solid $border-color;
}

.m-xs {
  margin: calc($gap / 4);
}
.m-sm {
  margin: calc($gap / 2);
}
.m {
  margin: $gap;
}
.m-md {
  margin: $gap;
}
.m-lg {
  margin: calc($gap * 2);
}
.m-xl {
  margin: calc($gap * 4);
}
.mx-xs {
  margin-left: calc($gap / 4);
  margin-right: calc($gap / 4);
}
.mx-sm {
  margin-left: calc($gap / 2);
  margin-right: calc($gap / 2);
}
.mx {
  margin-left: $gap;
  margin-right: $gap;
}
.mx-md {
  margin-left: $gap;
  margin-right: $gap;
}
.mx-lg {
  margin-left: calc($gap * 2);
  margin-right: calc($gap * 2);
}
.mx-xl {
  margin-left: calc($gap * 4);
  margin-right: calc($gap * 4);
}
.my-xs {
  margin-top: calc($gap / 4);
  margin-bottom: calc($gap / 4);
}
.my-sm {
  margin-top: calc($gap / 2);
  margin-bottom: calc($gap / 2);
}
.my {
  margin-top: $gap;
  margin-bottom: $gap;
}
.my-md {
  margin-top: $gap;
  margin-bottom: $gap;
}
.my-lg {
  margin-top: calc($gap * 2);
  margin-bottom: calc($gap * 2);
}
.my-xl {
  margin-top: calc($gap * 4);
  margin-bottom: calc($gap * 4);
}

.p-xs {
  padding: calc($gap / 4);
}
.p-sm {
  padding: calc($gap / 2);
}
.p {
  padding: $gap;
}
.p-md {
  padding: $gap;
}
.p-lg {
  padding: calc($gap * 2);
}
.p-xl {
  padding: calc($gap * 4);
}
.px-xs {
  padding-left: calc($gap / 4);
  padding-right: calc($gap / 4);
}
.px-sm {
  padding-left: calc($gap / 2);
  padding-right: calc($gap / 2);
}
.px {
  padding-left: $gap;
  padding-right: $gap;
}
.px-md {
  padding-left: $gap;
  padding-right: $gap;
}
.px-lg {
  padding-left: calc($gap * 2);
  padding-right: calc($gap * 2);
}
.px-xl {
  padding-left: calc($gap * 4);
  padding-right: calc($gap * 4);
}
.py-xs {
  padding-top: calc($gap / 4);
  padding-bottom: calc($gap / 4);
}
.py-sm {
  padding-top: calc($gap / 2);
  padding-bottom: calc($gap / 2);
}
.py {
  padding-top: $gap;
  padding-bottom: $gap;
}
.py-md {
  padding-top: $gap;
  padding-bottom: $gap;
}
.py-lg {
  padding-top: calc($gap * 2);
  padding-bottom: calc($gap * 2);
}
.py-xl {
  padding-top: calc($gap * 4);
  padding-bottom: calc($gap * 4);
}

.bg-transparent {
  background-color: transparent;
}
.bg-bg-color {
  background-color: $bg-color;
}
.bg-fg-color {
  background-color: $fg-color;
}
.bg-selected {
  background-color: $selected-color;
}
.color-fg-color {
  color: $fg-color;
}
.color-bg-color {
  color: $bg-color;
}
.color-selected {
  color: $selected-color;
}

.opacity-90 {
  opacity: 0.9;
}

.font-size-xs {
  font-size: 10px;
}
.font-size-sm {
  font-size: 12px;
}
.font-size-md {
  font-size: 14px;
}
.font-size-lg {
  font-size: 16px;
}
