@cricket-video:registry=https://gitlab.com/api/v4/projects/53288719/packages/npm/
//gitlab.com/api/v4/projects/53288719/packages/npm/:_authToken=glpat-DEtgfSxMAxteiUm7Z7eD
//gitlab.com/api/v4/packages/npm/:_authToken=glpat-DEtgfSxMAxteiUm7Z7eD
//gitlab.com/api/v4/projects/:_authToken=glpat-DEtgfSxMAxteiUm7Z7eD

@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=881CECDF-8D99-42ED-8EDE-DCF2EF3BE03F
