@use 'sass:color';

// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
$fg-color: #{'@theme_fg_color'};
$bg-color: #{'@theme_bg_color'};
$rounded-full: 100px;

window.Bar {
  background: transparent;
  color: $fg-color;
  font-weight: bold;
  font-size: 14px;
  opacity: 0.9;

  > centerbox {
    background: $bg-color;
  }

  .start-box {
    margin: 4px;

    .workspaces {
      border-radius: $rounded-full;
      background: color-mix(in srgb, $bg-color 90%, white);
      button {
        background: transparent;
        border-radius: $rounded-full;
      }
      button.selected {
        background: $fg-color;
        color: $bg-color;
        border-radius: $rounded-full;
      }
    }
  }

  .end-box {
    button {
      border-radius: $rounded-full;
      margin: 4px;
    }
  }
}

window.ControlCenter {
  // background-color: $bg-color;
  // padding: 10px;
  // border-radius: $rounded;
}

window.PasswordSearch {
  background-color: transparent;

  .container {
    background-color: $bg-color;
    border-radius: 10px;
    padding-right: 10px;
    padding-left: 10px;
    // padding: 10px;

    > box {
      padding-top: 10px;
      padding-bottom: 10px;
    }

    .search-input {
      border-radius: 10px;
    }
    .password-button {
      background-color: transparent;
      &:hover {
        background-color: color-mix(in srgb, $bg-color 90%, white);
      }
    }
  }
}


.rounded-sm {
  border-radius: 10px;
}
.rounded-md {
  border-radius: 20px;
}
.rounded-lg {
  border-radius: 30px;
}
.rounded-xl {
  border-radius: 40px;
}
.rounded-full {
  border-radius: $rounded-full;
}

.p-xs {
  padding: 4px;
}
.p-sm {
  padding: 10px;
}
.p-md {
  padding: 16px;
}
.p-lg {
  padding: 22px;
}
.p-xl {
  padding: 28px;
}
.px-sm {
  padding-left: 10px;
  padding-right: 10px;
}
.py-sm {
  padding-top: 10px;
  padding-bottom: 10px;
}

.bg-transparent {
  background-color: transparent;
}

.bg-bg-color {
  background-color: $bg-color;
}
